*{ background-color:rgb(238, 209, 165)}

div{
    display: inline-block;
     border: 0.2px  solid white;
     width: 200px;
    height: 200px;

}

.vermelho{ 
        background-color: red;}

  div{
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;

  } 

  .cyan{
    background-color:blue;
  }

  .verde{
    background-color: green;
      }

.amarelo{
    background-color: yellow;
}

  #canto {
    display: inline-block;
    border: 3px solid black;
    width: 200px;
    height: 200px;
    margin: 0.5px;
    padding: 0.3px;
}
.hov:hover{
  background-color: aqua;
}
